beautifulsoup4
black
coverage
dependency-injector
docutils
fastapi
flake8
isort
omegaconf
pydantic
pyparsing
pytest
PyYAML
requests
typing-extensions
urllib3
uvicorn
wemake-python-styleguide
tox
Jinja2
pymupdf
python-multipart
langchain
langchain-community
pypdf
docarray